*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
legend{
    padding: 0 10px;
}

abbr{
    text-decoration: none;
    color: #0000ff;
    transition-delay:0.1s;
    cursor: help;
}

.error{
    background-color: red;
    color: white;
}
.flex-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}

.form-container input{
    min-width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.input-container{
    margin: 20px;
}

.submit{ 
    min-width: 250px; 
    padding: 5px;
    margin: 20px;
    justify-content: center;
}